.search-results-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-right: -15px;
  margin-left: -15px;

  @media (min-width: 576px) {
    margin-right: 0;
    margin-left: 0;
    grid-gap: 2rem;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
